<ul id="myGallery">
  <% suffix = request.xhr? ? '_m' : '' %>
  <li><%= image_tag(asset_path("slides/mountain_view#{suffix}.jpg"), title: 'Mountain View from Yard') %></li>
  <li><%= image_tag(asset_path("slides/walking-up-front-deck#{suffix}.jpg"), title: "Walking up the front deck") %></li>
  <li><%= image_tag(asset_path("slides/dining-table#{suffix}.jpg"), title: "Dining Table") %></li>
  <li><%= image_tag(asset_path("slides/kitchen-island#{suffix}.jpg"), title: "Kitchen") %></li>
  <li><%= image_tag(asset_path("slides/living-room#{suffix}.jpg"), title: "Living Room") %></li>
  <li><%= image_tag(asset_path("slides/twin-bedroom#{suffix}.jpg"), title: "Second Bedroom (twins)") %></li>
  <li><%= image_tag(asset_path("slides/master-bedroom#{suffix}.jpg"), title: "Master Bedroom (queen)") %></li>
  <li><%= image_tag(asset_path("slides/bathroom#{suffix}.jpg"), title: "Cottage Bathroom") %></li>
  <li><%= image_tag(asset_path("slides/bathroom-window#{suffix}.jpg"), title: "Bathroom Window") %></li>
  <li><%= image_tag(asset_path("slides/shower#{suffix}.jpg"), title: "Walk-in Shower") %></li>
</ul>