<div id="front"></div>
<div class="wrapper medium">
  <h2 class="c light-gray" style="margin-top: 0;">
    Welcome to Hana's Tradewind Cottage
  </h2>

  <p>
    As you follow the private drive through the tropical flower garden to our
    secluded Tradewinds Cottage, you will
    discover the Hawaii that you came to see.
  </p>

  <p>
    Surrounded by exotic flowers and tropical fruit trees, our two bedroom, one bath cottage has cable TV, DVD and CD
    stereo. There is a gas cook top, refrigerator and microwave oven in the newly remodeled kitchen with a propane
    barbeque outside on the covered deck. Wireless Internet access is available on the property.
  </p>

  <p>
    The cottage has a queen size bed, two twin beds and a queen size sleeper sofa. You'll enjoy the splendor of the
    slopes of Haleakala while relaxing in your private hot tub or cooking your favorite island-style feast on the
    barbeque under your covered lanai.
  </p>
</div>
<%= section_header('Reservations') %>

<div class="wrapper medium-minor mb20">
  <p class="medium">
    Planning a trip to the east side of Maui? Be sure to book your stay with us as early as possible.
    We are usually booked months in advance.
  </p>

  <h4>Rates</h4>
  <ul class="pad medium-minor">
    <li>Nightly rate for <%= text_field_tag(:people_count, 2, class: 'instep', maxlength: 2) %> people
      <span>+13.5% tax</span> = <span class="bold" id="rate_result">$198.63</span>
    </li>
    <li>The cottage can accommodate a <b>maximum of 4 guests.</b></li>
    <li><b>Note:</b> There is a charge of $25 per night for each additional person.</li>
  </ul>

  <h4>Reservation Policies</h4>

  <ul class="pad medium-minor">
    <li>
      <b>Minimum stay:</b> We have a two night minimum stay for all reservations made more than a week in advance,
      except when there is an open night “sandwiched” between two existing reservations. We are happy to accept one
      night stays 7 days in advance. There will be a $25 cleaning fee for a one night reservation for two people and
      a $35 cleaning fee for three or four people who stay for only one night.
    </li>

    <li>
      <b>Deposits:</b> A 25% deposit is required to reserve the cottage and the balance is due 30 days in advance.
    </li>

    <li style="margin-top: -15px;">
      <b>Payment:</b> We accept Visa, MasterCard, American Express and Discover.
      <span><%= image_tag(asset_path('visa_mastercard_american_express_discover.png'), style: 'position: relative;top: 13px;') %></span>
    </li>

    <li>
      <b>Check-in:</b> <br/>
      Check-in time is 3:00 p.m. <br/>
      Check-out time is 11:00 a.m.
    </li>

    <li>
      <b>Cancellation:</b>
      We will refund your deposit less a 10% cancellation fee if you notify us
      <span class="medium bold">30 days prior to you arrival</span>.
      Cancellations within 30 days of your arrival will be refunded only for the nights we are able to re-book the
      accommodations minus a 10% service fee.
      <p>
        If you check out prior to your scheduled check out date we will refund only for the nights we are able to
        re-book
        the accommodations minus a 10% service fee.
      </p>
    </li>

    <li>
      <b>Laundry facilities</b> are available free of charge for guests staying 5 or more nights.
    </li>

    <li>
      <b>Special Terms:</b> <br/>
      Rates and policies are subject to change.<br/>
      To provide a smoke free environment for our guests, smoking is only allowed outside. <br/>
      No pets are allowed at the cottage.<br/>

      <p><a href="#contact">Make a reservation inquiry.</a></p>
    </li>
  </ul>

  <h4>Availability</h4>
  <% unless Rails.env.development? %>
      <iframe src="https://www.homeawayconnect.com/calendar.aspx?propertyid=51970&culturename=en-US&mode=1" style="width:100%;height: 990px;"></iframe>
  <% end %>
</div>
<%= section_header('Photos') %>
<div class="wrapper medium-minor">
  <div style="height: 615px;">
    <ul id="myGallery">
      <li><%= image_tag(asset_path('slides/mountain_view.jpg'), title: 'Mountain View from Yard') %></li>
      <li><%= image_tag(asset_path('slides/front_view.jpg'), title: 'Front of Cottage') %></li>
      <li><%= image_tag(asset_path('slides/side_view.jpg'), title: 'Cottage from Yard') %></li>
      <li><%= image_tag(asset_path('slides/deck_view.jpg'), title: 'Private Deck & BBQ') %></li>
      <li><%= image_tag(asset_path('slides/private_hot_tub.jpg'), title: 'Private Hot Tub') %></li>
      <li><%= image_tag(asset_path('slides/kitchen.jpg'), title: 'Full Kitchen') %></li>
      <li><%= image_tag(asset_path('slides/living_dining_area.jpg'), title: 'Living / Dining Area') %></li>
      <li><%= image_tag(asset_path('slides/master_bedroom.jpg'), title: 'Master Bedroom') %></li>
      <li><%= image_tag(asset_path('slides/second_bedroom.jpg'), title: 'Second Bedroom') %></li>
      <li><%= image_tag(asset_path('slides/back_yard.jpg'), title: 'View from Back Deck') %></li>
    </ul>
  </div>
</div>
<%= section_header('Contact') %>
<div class="wrapper medium-minor">
  <div class="fl w49">
    <p class="form-text">
      Submit a reservation inquiry using the form below.
    </p>
    <div id="form_success_box" class="alert alert-info" style="display: none;">
      <b>Success!</b> We've received your inquiry and will get back to you at our earliest convenience.
    </div>
    <div id="form_error_box" class="alert alert-block alert-error fade" style="display: none;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Oops, something's not right!</h4>

      <p class="error-message"></p>
    </div>
    <div class="pad10">
      <%= form_for(@contact, remote: true, id: 'contact_form') do |f| %>
          <table class="basic w500">
            <tr>
              <td><%= f.label(:name) %></td>
              <td><%= f.text_field(:name, placeholder: 'Name') %></td>
            </tr>
            <tr>
              <td><%= f.label(:number_of_people) %></td>
              <td><%= f.text_field(:number_of_people, placeholder: 'Number of people') %></td>
            </tr>
            <tr>
              <td><%= f.label(:email) %></td>
              <td><%= f.text_field(:email, placeholder: 'Email') %></td>
            </tr>
            <tr>
              <td><%= f.label(:address) %></td>
              <td><%= f.text_field(:address, placeholder: 'Address') %></td>
            </tr>
            <tr>
              <td><%= f.label(:phone) %></td>
              <td><%= f.text_field(:phone, placeholder: 'Phone') %></td>
            </tr>
            <tr>
              <td><%= f.label(:arrival_date) %></td>
              <td><%= f.text_field(:arrival_date, placeholder: 'Arrival date') %></td>
            </tr>
            <tr>
              <td><%= f.label(:departure_date) %></td>
              <td><%= f.text_field(:departure_date, placeholder: 'Departure date') %></td>
            </tr>
            <tr>
              <td><%= f.label(:message) %></td>
              <td><%= f.text_area(:message, placeholder: 'Write a message (optional)') %></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><%= f.submit('Submit Inquiry', disable_with: 'Submitting ..') %></td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
  <div class="fr w49">
    <p>
      Need help right away? Contact us directly.
    </p>

    <div class="pad10">
      <p class="medium-major">
        Phone: (808) 248-7728
      </p>

      <p class="medium-major">
        Email: <a href="mailto:brianna@tradewindscottage.net">brianna@tradewindscottage.net</a>
      </p>
    </div>
    <div>
      <%= image_tag(asset_path('hamoa_overview.png'), width: '310') %>
    </div>
  </div>
</div>
<%= section_header('Hana') %>
<div class="wrapper medium-minor">
  <p class="medium">
    Hana is a small town located on the east side of Maui. It is home to some of the world’s most beautiful beaches, breath taking waterfalls, and majestic coastlines. From Kahului airport it is about a 50 mile drive along the winding coastline. Along the way you can enjoy hiking trails, beautiful overlooks, and incredible waterfalls. The actual town of Hana is very small, consisting on two convenience stores, the Travasa Hotel, Hana Ranch Restaurant, Post office, and a gas station. There are a variety of outdoor activities, some of which we’ve listed below. It is nice to have a couple of days to spend in Hana because it is a long trip out here. That way you have some time to just relax and explore this side of the island.
  </p>
  <p>
    For more information on Hana please visit <a target="_blank" href="http://www.hanamaui.com">hanamaui.com</a>
  </p>
  <h4>Activities</h4>
  <ul class="pad">
    <li>Go hang gliding down the road (1 minute away):
      <a target="_blank" href="http://www.hangglidingmaui.com">hangglidingmaui.com</a></li>
    <li>Spelunking in lava tube (2 minutes away): <a target="_blank" href="http://www.mauicave.com">mauicave.com</a>
    </li>
    <li>Go kayaking, snorkeling, surfing, or free diving (10 minutes away):
      <a target="_blank" href="http://www.hanabaykayaks.com">hanabaykayaks.com</a></li>
    <li>Guided hike and taro patch tour at Kapahu Living Farm (45 minutes away):
      <a target="_blank" href="http://kipahulu.org/hike.html">kipahulu.org/hike.html</a></li>
    <li>Ohe’o (7 Sacred Pools) and bamboo forest (45 minutes away):
      <a target="_blank" href="http://www.nps.gov/hale/index.htm">nps.gov/hale/</a></li>
    <li>Horse back riding (45 minutes away): <a target="_blank" href="http://www.mauistables.com">mauistables.com</a></li>
  </ul>
  <h4>Location</h4>

  <p>The map below shows the route from the Kahului Airport (OGG) to the Tradewind Cottage (Approximately 52 miles).</p>
  <% unless Rails.env.development? %>
      <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=OGG,+Kahului,+HI&amp;daddr=143+Alalele+Road,+Hana,+HI&amp;hl=en&amp;geocode=FXDPPgEdffKs9iFBkBrdYqlewykZBI4bsNJUeTFBkBrdYqleww%3BFf0nPQEdw12z9inhwr1do61UeTE8DGQ9X2wytA&amp;aq=0&amp;oq=ogg&amp;sll=20.785149,-156.017213&amp;sspn=0.010472,0.016544&amp;g=143+Alalele+Road,+Hana,+HI&amp;mra=ls&amp;ie=UTF8&amp;ll=20.86007,-156.230615&amp;spn=0.15616,0.42713&amp;t=m&amp;output=embed"></iframe>
  <% end %>

</div>