<div id="front"></div>
<div class="wrapper medium">
  <h2 class="c light-gray">
    Welcome to Hana's Tradewind Cottage
  </h2>

  <p>
    As you follow the private drive through the tropical flower garden to our
    secluded Tradewinds Cottage, you will
    discover the Hawaii that you came to see.
  </p>

  <p>
    Surrounded by exotic flowers and tropical fruit trees, our two bedroom, one bath cottage has cable TV, DVD and CD
    stereo. There is a gas cook top, refrigerator and microwave oven in the newly remodeled kitchen with a propane
    barbeque outside on the covered deck. Wireless Internet access is available on the property.
  </p>

  <p>
    The cottage has a queen size bed, two twin beds and a queen size sleeper sofa. You'll enjoy the splendor of the
    slopes of Haleakala while relaxing in your private hot tub or cooking your favorite island-style feast on the
    barbeque under your covered lanai.
  </p>
</div>
<%= section_header('Reservations') %>

<div class="wrapper medium-minor mb20">
  <h4>Rates</h4>
  <ul class="pad medium-minor">
    <li>Nightly rate for <%= text_field_tag(:people_count, 2, class: 'instep', maxlength: 2) %> people
      <span>+13.5% tax</span> = <span class="bold" id="rate_result">$198.63</span>
    </li>
    <li><b>Note:</b> There is a charge of $25 per night for each additional person.</li>
    <li>The cottage can accommodate a <b>maximum of 4 guests.</b></li>
  </ul>

  <h4>Reservation Policies</h4>

  <ul class="pad medium-minor">
    <li>
      <b>Minimum stay:</b> We have a two night minimum stay for all reservations made more than a week in advance,
      except when there is an open night “sandwiched” between two existing reservations. We are happy to accept one
      night stays 7 days in advance. There will be a $25 cleaning fee for a one night reservation for two people and
      a $35 cleaning fee for three or four people who stay for only one night.
    </li>

    <li>
      <b>Deposits:</b> A 25% deposit is required to reserve the cottage and the balance is due 30 days in advance.
    </li>

    <li>
      <b>Payment:</b> We accept Visa, MasterCard, American Express and Discover.
      <span><%= image_tag(asset_path('visa_mastercard_american_express_discover.png'), style: 'position: relative;top: 13px;') %></span>
    </li>

    <li>
      <b>Check-in:</b> <br/>
      Check-in time is 3:00 p.m. <br/>
      Check-out time is 11:00 a.m.
    </li>

    <li>
      <b>Cancellation:</b>
      We will refund your deposit less a 10% cancellation fee if you notify us
      <span class="medium bold">30 days prior to you arrival</span>.
      Cancellations within 30 days of your arrival will be refunded only for the nights we are able to re-book the
      accommodations minus a 10% service fee.
      <p>
        If you check out prior to your scheduled check out date we will refund only for the nights we are able to
        re-book
        the accommodations minus a 10% service fee.
      </p>
    </li>

    <li>
      <b>Laundry facilities</b> are available free of charge for guests staying 5 or more nights.
    </li>

    <li>
      <b>Special Terms:</b> <br/>
      Rates and policies are subject to change.<br/>
      To provide a smoke free environment for our guests, smoking is only allowed outside. <br/>
      No pets are allowed at the cottage.<br/>

      <p><a href="#contact">Make a reservation inquiry.</a></p>
    </li>
  </ul>

  <h4>Availability</h4>
  <iframe src="https://www.homeawayconnect.com/calendar.aspx?propertyid=51970&culturename=en-US&mode=1" style="width:100%;height: 990px;"></iframe>
</div>
<%= section_header('Photos') %>
<div class="wrapper medium-minor">
  <h4>Gallery</h4>

  <p>Coming real soon!</p>
  <h4>Location</h4>

  <p>The map below shows the route from the Kahului Airport (OGG) to the Tradewind Cottage (Approximately 52 miles).</p>
  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=OGG,+Kahului,+HI&amp;daddr=143+Alalele+Road,+Hana,+HI&amp;hl=en&amp;geocode=FXDPPgEdffKs9iFBkBrdYqlewykZBI4bsNJUeTFBkBrdYqleww%3BFf0nPQEdw12z9inhwr1do61UeTE8DGQ9X2wytA&amp;aq=0&amp;oq=ogg&amp;sll=20.785149,-156.017213&amp;sspn=0.010472,0.016544&amp;g=143+Alalele+Road,+Hana,+HI&amp;mra=ls&amp;ie=UTF8&amp;ll=20.86007,-156.230615&amp;spn=0.15616,0.42713&amp;t=m&amp;output=embed"></iframe>
  <!--<br/>-->
  <!--<small>-->
    <!--<a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=OGG,+Kahului,+HI&amp;daddr=143+Alalele+Road,+Hana,+HI&amp;hl=en&amp;geocode=FXDPPgEdffKs9iFBkBrdYqlewykZBI4bsNJUeTFBkBrdYqleww%3BFf0nPQEdw12z9inhwr1do61UeTE8DGQ9X2wytA&amp;aq=0&amp;oq=ogg&amp;sll=20.785149,-156.017213&amp;sspn=0.010472,0.016544&amp;g=143+Alalele+Road,+Hana,+HI&amp;mra=ls&amp;ie=UTF8&amp;ll=20.86007,-156.230615&amp;spn=0.15616,0.42713&amp;t=m" style="color:#0000FF;text-align:left">View-->
      <!--Larger Map</a></small>-->
</div>
<%= section_header('Contact') %>
<div class="wrapper medium-minor">
  <div class="fl w49">
    <p>
      Submit a reservation inquiry using the form below.
    </p>

    <div class="pad10">
      <%= form_tag({}, method: 'get', remote: true) do %>
          <table class="basic w500">
            <tr>
              <td><%= label_tag(:name) %></td>
              <td><%= text_field_tag(:name, nil, placeholder: 'Name') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:number_of_people) %></td>
              <td><%= text_field_tag(:number_of_people, nil, placeholder: 'Number of people') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:email) %></td>
              <td><%= text_field_tag(:email, nil, placeholder: 'Email') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:address) %></td>
              <td><%= text_field_tag(:address, nil, placeholder: 'Address') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:phone) %></td>
              <td><%= text_field_tag(:phone, nil, placeholder: 'Phone') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:arrival_date) %></td>
              <td><%= text_field_tag(:arrival_date, nil, placeholder: 'Arrival date') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:departure_date) %></td>
              <td><%= text_field_tag(:departure_date, nil, placeholder: 'Departure date') %></td>
            </tr>
            <tr>
              <td><%= label_tag(:message) %></td>
              <td><%= text_area_tag(:message, nil, placeholder: 'Write a message (optional)') %></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><%= submit_tag('Submit Inquiry') %></td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
  <div class="fr w49">
    <p>
      Need help right away? Contact us directly.
    </p>

    <div class="pad10">
      <p class="medium-major">
        Phone: (808) 248-7728
      </p>

      <p class="medium-major">
        Email: <a href="mailto:brianna@tradewindscottage.net">brianna@tradewindscottage.net</a>
      </p>
    </div>
    <div>
      <%= image_tag(asset_path('hamoa_overview.jpg'), width: '310') %>
    </div>
  </div>
</div>
<%= section_header('Hana') %>
<div class="wrapper medium-minor">
  <p>Coming soon!</p>
</div>