<!DOCTYPE html>
<html>
<head>
  <title>Hana's Tradewind Cottage</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('favicon.ico') %>
  <meta name="google-site-verification" content="KDeQ0u-a5jxWH8XmJ5lRCxij-xzkkwrpYhQ8rtAXEbM"/>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37742500-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body>
<header id="nav_bar">
  <div class="wrapper nav">
    <div id="logo" class="deep-text">
      <h1>Hana's Tradewind Cottage</h1>
    </div>
    <ul id="page_nav">
      <li>
        <a href="#reservations">Reservations</a>
      </li>
      <li>
        <a href="#photos">Photos</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a href="#hana">Hana</a>
      </li>
    </ul>
  </div>
</header>

<div id="container">
  <div id="content">
    <a name="#top"></a>
    <%= yield %>
  </div>
</div>
<footer>
  <div class="wrapper">
    <span>Hana's Tradewind Cottage</span>
    &#8226;
    <span>(808) 248-8980</span>
    &#8226;
    <span>brianna@tradewindscottage.net</span>
    &#8226;
    <span>Hawaii State Tax ID # W67123967-01</span>
  </div>
</footer>
</body>
<script type="text/javascript">
    $(function () {

        $('#logo h1').bind('click', function () {
            window.location.hash = '#top';
        });

        $('#myGallery').galleryView({
            panel_width:900,
            panel_height:500,
            panel_animation:'crossfade',
            transition_speed:600,
            show_captions:true,
            autoplay:true,
            frame_width:150,
            frame_height:75
        });// filmstrip_position:'top'
        // $('#nav_bar').scrollspy({offset:-750})
        //  data-spy="scroll" data-target="#nav_bar" data-offset="0"
    });
</script>
</html>
